<!DOCTYPE html>
<html>
<head>
	<!-- jQuery CDN link -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- jQuery Mobile -->
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<!-- static link to custome site css -->
	<link rel="stylesheet" href="static/css/style.css"></style>

	<script>
		// need this here to get data from the controller and pass it into script at bottom of page. Doesn't work in the static js file.
		var slackLink = <%- JSON.stringify(slackLink) %>;
	</script>
	
	<!-- Static link to javascript file -->
	<script type="text/javascript" src="static/scripts/script.js"></script>

	<title>Dice roller</title>
</head>
<body>

<div class="container">
	<div class="col-md-2"></div>

	<div class="col-md-8">

		<div class="page-header">
		  <h1>Roll some dice</h1>		  
			  <input type="text" class="form-control" placeholder="Your name" id="nameInput" aria-describedby="basic-addon2">		
		</div>
		<div>
			<ul class="nav nav-tabs">
				<li><a data-toggle="tab" href="#stdDice">Standard Dice</a></li>
				<li class="active"><a data-toggle="tab" href="#swDice">Star Wars Dice</a></li>
				<li><a data-toggle="tab" href="#advDice">Advanced Rolls</a></li>
			</ul>
		</div>

	  
	  <div class="tab-content dice-tabs">

	    <div id="stdDice" class="tab-pane fade">
			<br>
	        <button id="1d4" class="btn roll-btn">Roll 1D4</button>
			<button id="1d6" class="btn roll-btn">Roll 1D6</button>
			<button id="1d8" class="btn roll-btn">Roll 1D8</button>
			<button id="1d10" class="btn roll-btn">Roll 1D10</button>
			<button id="1d20" class="btn roll-btn">Roll 1D20</button>
			<button id="1d12" class="btn roll-btn">Roll 1D12</button>
			<button id="1d100" class="btn roll-btn" onClick="void(0)">Roll 1D100</button>
			<br>
			<h5>Add a modifier:</h5>
			<input type="number" class="form-control" id="modifierValue">
			<div id="results-box" class="col-md-12">	
			<p id="results-placeholder"></p>
			</div>
	    </div>

	    <div id="swDice" class="tab-pane fade in active">
			<div class="col-sm-12 col-md-5">
				<h5>Positive</h5>
				<div class="pos-dice">
					<img id="sw_boost1" class="dice-images faded" src="./static/imgs/boost.png"/>
					<img id="sw_boost2" class="dice-images faded" src="./static/imgs/boost.png"/>
					<img id="sw_boost3" class="dice-images faded" src="./static/imgs/boost.png"/>
					<img id="sw_boost4" class="dice-images faded" src="./static/imgs/boost.png"/>
					<img id="sw_boost5" class="dice-images faded" src="./static/imgs/boost.png"/>
					<img id="sw_boost6" class="dice-images faded" src="./static/imgs/boost.png"/>
					<img id="sw_ability1" class="dice-images faded" src="./static/imgs/ability.png"/>
					<img id="sw_ability2" class="dice-images faded" src="./static/imgs/ability.png"/>
					<img id="sw_ability3" class="dice-images faded" src="./static/imgs/ability.png"/>
					<img id="sw_ability4" class="dice-images faded" src="./static/imgs/ability.png"/>
					<img id="sw_ability5" class="dice-images faded" src="./static/imgs/ability.png"/>
					<img id="sw_ability6" class="dice-images faded" src="./static/imgs/ability.png"/>
					<img id="sw_proficiency1" class="dice-images faded" src="./static/imgs/proficiency.png"/>
					<img id="sw_proficiency2" class="dice-images faded" src="./static/imgs/proficiency.png"/>
					<img id="sw_proficiency3" class="dice-images faded" src="./static/imgs/proficiency.png"/>
					<img id="sw_proficiency4" class="dice-images faded" src="./static/imgs/proficiency.png"/>
					<img id="sw_proficiency5" class="dice-images faded" src="./static/imgs/proficiency.png"/>
					<img id="sw_proficiency6" class="dice-images faded" src="./static/imgs/proficiency.png"/>
				</div>
			</div>
			<div class="col-sm-12 col-md-5">
				<h5>Negative</h5>
				<div class="neg-dice">
					<img id="sw_setback1" class="dice-images faded" src="./static/imgs/setback.png"/>
					<img id="sw_setback2" class="dice-images faded" src="./static/imgs/setback.png"/>
					<img id="sw_setback3" class="dice-images faded" src="./static/imgs/setback.png"/>
					<img id="sw_setback4" class="dice-images faded" src="./static/imgs/setback.png"/>
					<img id="sw_setback5" class="dice-images faded" src="./static/imgs/setback.png"/>
					<img id="sw_setback6" class="dice-images faded" src="./static/imgs/setback.png"/>
					<img id="sw_difficulty1" class="dice-images faded" src="./static/imgs/difficulty.png"/>
					<img id="sw_difficulty2" class="dice-images faded" src="./static/imgs/difficulty.png"/>
					<img id="sw_difficulty3" class="dice-images faded" src="./static/imgs/difficulty.png"/>
					<img id="sw_difficulty4" class="dice-images faded" src="./static/imgs/difficulty.png"/>
					<img id="sw_difficulty5" class="dice-images faded" src="./static/imgs/difficulty.png"/>
					<img id="sw_difficulty6" class="dice-images faded" src="./static/imgs/difficulty.png"/>
					<img id="sw_challenge1" class="dice-images faded" src="./static/imgs/challenge.png"/>
					<img id="sw_challenge2" class="dice-images faded" src="./static/imgs/challenge.png"/>
					<img id="sw_challenge3" class="dice-images faded" src="./static/imgs/challenge.png"/>
					<img id="sw_challenge4" class="dice-images faded" src="./static/imgs/challenge.png"/>
					<img id="sw_challenge5" class="dice-images faded" src="./static/imgs/challenge.png"/>
					<img id="sw_challenge6" class="dice-images faded" src="./static/imgs/challenge.png"/>
				</div>
			</div>
			<div class="col-sm-12 col-md-2">
				<h5>Other</h5>
				<div class="other-dice">
					<!-- <h6>Force</h6> -->
					<img id="sw_force" class="dice-images" src="./static/imgs/force.png" onClick=""/>
					<!-- <h6>Percentiles</h6> -->
					<img id="sw_percentile" class="dice-images" src="./static/imgs/percentile.png"/>	
				</div>			
			</div>
			<div class="col-md-12 sw-dice-roll-btn">
				<button id="sw_roll" class="btn sw-roll-btn btn-default">Roll</button>	
			</div>
			<div id="sw-results-box" class="col-md-12">	
			<p id="sw-results-placeholder"></p>
			</div>
	    </div>

	    <div id="advDice" class="tab-pane fade">
    		<br>
			<p>Coming soon.</p>
	    </div>

	  </div>	

	</div>

	<div class="col-md-2"></div>

</div>


</body>
</html>